body{
    background-color: #4bd1fa;
}

table{
    width: 100%;
    background-color: #afecff;
}

audio{
    width: 100%;
    background-color: #4bd1fa;
}

h2{
    color: #007fa5;
    margin-top: 10px;
    margin-bottom: 10px;
}

div{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span{
    color: red;
}