body {
    background-color: #4bd1fa;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    background-color: #afecff;
    table-layout: fixed;
}

td {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

video, audio {
    max-width: 100%;
    height: auto;
    background-color: #99e5fc;
}

h1 {
    color: #004154;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #004154;
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #85e0fc;
}

span {
    color: red;
}

td {
    width: 50%;
}

@media (max-width: 768px) {
    td {
        width: 100%;
    }
}
